/* user-list.component.css */
.card {
    margin-bottom: 1.5rem;
    height: 100vh;
  }
  
  .card-title {
    font-size: 1.25rem;
    margin-bottom: 0.75rem;
  }
  
  .card-body {
    text-align: center;
  }
  .card-img-top {
    object-fit: cover;
    height: 50%; /* Adjust height as needed */
  }  